<nav>
  <a routerLink="/home" routerLinkActive="active">{{ 'HOME' | translate }}</a>
  <a routerLink="/transfers" routerLinkActive="active">{{ 'TRANSFERS' | translate }}</a>
  <a routerLink="/loans" routerLinkActive="active">{{ 'LOANS' | translate }}</a>

  <div class="language">
    @switch (lang) {
      @case ('en') {
        <img src="assets/icons/ge.png" title="ქართული" alt="ქართული" (click)="switchLang('ka')">
      }
      @case ('ka') {
        <img src="assets/icons/en.png" title="English" alt="English" (click)="switchLang('en')">
      }
    }
  </div>
</nav>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
