<div class="page-container">
  <h1>{{ 'TRANSFERS.TITLE' | translate }}</h1>
  <p>{{ 'TRANSFERS.DESCRIPTION' | translate }}</p>
  <button class="action-button" (click)="newTransfer()">{{ 'TRANSFERS.NEW' | translate }}</button>

  <div class="transfer-list" *ngFor="let transfer of transfers(); trackBy: trackByFn">
    <div class="transfer-item">
      <span class="transfer-description">{{ 'TRANSFERS.TO' | translate }} {{ transfer.recipient }}</span>
      <span class="transfer-amount">${{ transfer.amount }}</span>
    </div>
  </div>
</div>
