.app-container {
  margin: 20px;
}

nav {
  background-color: #2c3e50;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #1abc9c;
}

nav a.active {
  background-color: #3498db;
}

.language {
  margin-left: auto;
  padding: 0 5px;

  img {
    cursor: pointer;
  }
}

.speech-icon {
  background: #ecf0f1;
  padding: 20px;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 50px;
  width: 20px;
  height: 20px;

  &:hover {
    cursor: pointer;
    fill: #1abc9c;
  }

  &.speaker {
    bottom: 100px;
  }
}
